 
        body{
            text-align: center;
            font-family: Wide Latin;
        }

        .tableCenter{
            margin-left:auto; 
            margin-right:auto;
        }
        #greeting{
            color: salmon;
            
        }
        #increase{
            background-color: rgb(113, 201, 12);
            font-family: Wide Latin;
        }

        #decrease{
            background-color: rgb(150, 20, 20);
            font-family: Wide Latin;
        }
    
    
